In [2]:
import pandas as pd
import numpy as np

In [3]:
credit_card_data=pd.read_csv('E:\\Detasets\\credit_data.csv')

In [4]:
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [5]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [6]:
#distribution of 2 classes
credit_card_data['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

this is highly imbalance dataset
0->>legit transaction
1->>fraudulent Transaction

In [7]:
legit=credit_card_data[credit_card_data.Class==0]
fraud=credit_card_data[credit_card_data.Class==1]

In [8]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

build a sample datasets containing similar distribution of legit and fraudulent transactions

In [9]:
legit_sample=legit.sample(n=492)
print(legit_sample.shape)

(492, 31)

concotanate the two dataframe

In [10]:
new_dataset=pd.concat([legit_sample,fraud],axis=0)
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
201805,134047.0,1.760807,-0.136862,-2.404332,0.847939,0.508814,-0.936006,0.449717,-0.264078,0.859983,...,-0.105134,-0.370384,-0.036849,0.487239,0.160084,-0.337544,-0.015427,0.024013,150.66,0
69536,53468.0,1.183157,0.255669,0.385955,1.153673,-0.338083,-0.711352,0.068933,-0.052266,0.123665,...,0.062087,0.212513,-0.013310,0.382330,0.535122,-0.314910,0.024014,0.017376,1.39,0
30705,36045.0,-0.007415,0.120814,0.409854,-1.724038,-0.399104,0.721582,-1.430744,-2.494472,0.960825,...,-1.354875,0.085017,-0.233609,-1.300981,0.656491,0.092488,0.108861,0.233785,60.85,0
86649,61332.0,1.032057,-0.840750,0.628993,0.498468,-1.164898,-0.028430,-0.661934,0.107310,-0.890666,...,-0.145301,-0.287019,-0.143166,-0.047547,0.322539,-0.307696,0.034282,0.045159,140.00,0
34764,37815.0,-3.115607,2.350526,-1.168778,-1.069185,0.655562,4.636670,-3.452756,-2.939704,-1.259507,...,-2.524628,0.275669,0.246702,0.978907,0.175340,0.229465,-0.338795,-0.080840,54.67,0